{% extends 'base.html' %}

{% block title %} Ubah Data Guru {% endblock %}

{% block style %}
<style>
    .input-group-text {
        width: 45px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="clearfix">
        <h1 class="h3 mb-4 text-grey-800 float-left">Ubah Data Guru</h1>
        <a href="{{ url_for('guru') }}" class="btn btn-secondary btn-sm float-right"><i class="fas fa-reply"></i> Kembali</a>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <span class="text-primary"><strong>Silakan isi data di bawah ini</strong></span>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('prosesTambahGuru') }}" method="POST">
                        <!-- Input NIP -->
                        <div class="form-group">
                            <label for="nip">NIP Guru</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">#</div>
                                </div>
                                <input type="hidden" name="id" value="{{ data_guru.nip }}">
                                <input type="text" id="nip" class="form-control" placeholder="Masukkan NIP Guru" name="nip" autocomplete="off" required="required" value="{{ data_guru.nip }}">
                            </div>
                        </div>
                        <!-- Input Nama -->
                        <div class="form-group">
                            <label for="nama">Nama Guru</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                                </div>
                                <input type="text" id="nama" class="form-control" placeholder="Masukkan Nama Guru" name="nama" autocomplete="off" required="required" value="{{ data_guru.nama }}">
                            </div>
                        </div>
                        <!-- Input Tanggal Lahir -->
                        <div class="form-group">
                            <label for="tanggal_lahir">Tanggal Lahir Guru</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
                                </div>
                                <input type="date" id="tanggal_lahir" class="form-control" placeholder="Masukkan NIP Guru Pengampu" name="tanggal_lahir" autocomplete="off" required="required" value="{{ data_guru.tanggal_lahir }}">
                            </div>
                        </div>
                        <!-- Input Alamat -->
                        <div class="form-group">
                            <label for="alamat">Alamat</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
                                </div>
                                <textarea id="alamat" class="form-control" placeholder="Masukkan Alamat" name="alamat" autocomplete="off" required="required">{{ data_guru.alamat }}</textarea>
                            </div>
                        </div>
                        <!-- Button Submit -->
                        <div class="from-group">
                            <button type="submit" class="btn btn-primary btn-sm" name="simpan"><i class="fas fa-save"></i> Simpan</button>
                            <button type="reset" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Batal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}